body{
  
    font-family: 'Handlee';font-size: 16px;
    background-color: black;
    
}

.post{
    /*
    border-style: solid;
    border-color: green;
    */
    background-color: white;
    width: 600px;
    height: 850px;
}

.post_menu{
    /*
    border-style: solid;
    border-color: red;
    */

    background-color: white;
    display: flex;
}
.post_menu_icon{
   /* 
    border-style: solid;
    border-color: orange;
   
    width: 2px;
    flex: 2px;
    margin-left: 2px;
    margin-right: 2px;
    */
    
    float: left;
    margin: auto;

    padding: 15px;
}

.post_menu_text{
    /*
    border-style: solid;
    border-color: orange;
    */
    width: 50%;
    flex: 50%;
    float: left;
    margin: auto;
    margin-left: 1px;
    padding: 0%;
   
}
.post_menu_puntos{
    /*
    border-style: solid;
    border-color: orange;
    */
    width: 25%;
    flex: 15%;
    float: right;   
    margin: auto;
    margin-right: 15px;
    padding: 0%;
}


.post_img{
    /*
    border-style: solid;
    border-color: red;
    */
    background-color: white;
}
.post_content{
    /*
    border-style: solid;
    border-color: red;
    */
}
p {
    margin: 0px;
}
.post_content_menu{
    /*
    border-style: solid;
    border-color: blueviolet;
    */
    padding: 5px 15px 5px 15px;
   
}
.post_content_like{
   /*
    border-style: solid;
    border-color: orange;
    */
    padding: 5px 15px 5px 15px;
}
.post_content_text{
   /* 
    border-style: solid;
    border-color: blue;
    */
    padding: 5px 15px 5px 15px;
}